[Desktop Entry]
  Name=Concert
  Comment=Start concert
  Exec=/home/jihoonl/research/ros/waiterbot/src/office_concert/office_concert/launcher/start_concert.bash
  Icon=/home/jihoonl/research/ros/turtlebot/src/rocon_tools/rocon_bubble_icons/icons/rocon_logo.png
  Terminal=false
  Type=Application
  Categories=Utility;Application;
