# Concert client tuples are of the platform-system-robot-name-app where
# the name is just a placemarker for the eventual concert client name.
# All other parts of the tuple are fixed.

name: CafeDelivery
description: "Deliver your drink"
author: YujinRobot
priority: 2
launcher_type: roslaunch
launcher: opp_demo/cafe_delivery
interactions: opp_demo/cafe_delivery
