<launch>
  <node pkg="concert_service_link_graph" name="delivery_sim" type="static_link_graph_service.py">
    <param name="filename" value="$(find concert_common_services)/services/delivery_sim/delivery_sim.link_graph"/>
  </node>
  <node pkg="concert_common_services" name="publish_world" type="publish_world.py">
  </node>
</launch>