<launch>
  <arg name="robot" default="robot" />
  <group ns="$(arg robot)">
    <node pkg="zeroconf_avahi" type="zeroconf" name="zeroconf" output="screen">
	  <remap from="add_listener" to="zeroconf/add_listener"/>
	  <remap from="add_service" to="zeroconf/add_service"/>
	  <remap from="remove_service" to="zeroconf/remove_service"/>
      <remap from="new_connections" to="zeroconf/new_connections"/>
      <remap from="lost_connections" to="zeroconf/lost_connections"/>
	  <remap from="list_discovered_services" to="zeroconf/list_discovered_services"/>
	  <remap from="list_published_services" to="zeroconf/list_published_services"/>
	</node>
	<node pkg="rocon_linux_app_manager" type="app_manager.py" name="app_manager" output="screen">
      <rosparam file="$(find turtle_concert)/yaml/app_manager.yaml" command="load"/>
      <param name="name" value="$(arg robot)"/>
      <param name="app_list_dir" value="$(find turtle_concert)/exchange/app_list"/>
      
	  <remap from="add_listener" to="zeroconf/add_listener"/>
	  <remap from="add_service" to="zeroconf/add_service"/>
	  <remap from="remove_service" to="zeroconf/remove_service"/>
      <remap from="new_connections" to="zeroconf/new_connections"/>
      <remap from="lost_connections" to="zeroconf/lost_connections"/>
	  <remap from="list_discovered_services" to="zeroconf/list_discovered_services"/>
	  <remap from="list_published_services" to="zeroconf/list_published_services"/>
    </node>
  </group>
</launch>
