name: vm_delivery
description: Delivery drink from Vending machine
author: dwlee
priority: 100
interactions: concert_common_services/vm_delivery
parameters: concert_common_services/vm_delivery
launcher_type: roslaunch
launcher: concert_common_services/vm_delivery
