<launch>
  <include file="$(find colour_signal)/launch/standalone.launch">
    <arg name="colour_signal_image_topic" value="/fake_led_publisher/image"/>
    <arg name="colour_signal_auto_enable" value="true"/>
  </include>
  <node pkg="colour_signal" type="fake_publisher" name="fake_led_publisher">
    <rosparam param="signal_image" subst_value="true">$(find colour_signal)/images/led-green.jpg</rosparam>
    <rosparam param="reference_image" subst_value="true">$(find colour_signal)/images/led-reference.jpg</rosparam>
  </node>
  <node pkg="image_view" type="image_view" name="view_led_images">
    <remap from="image" to="/fake_led_publisher/image"/>
  </node>
</launch>
