@-ms-viewport
{
	width: 720px;
}

@-webkit-viewport
{
	width: 720px;
}

@-o-viewport
{
	width: 720px;
}

@-moz-viewport
{
	width: 720px;
}

@viewport
{
	width: 720px;
}

html
{
	background: #7F7F7F url("../images/wood_wallpaper_by_stenosis.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 1126.9px;
	padding-bottom: 8.099999999999909px;
}

#pu482
{
	width: 0.01px;
	position: relative;
}

#u482
{
	z-index: 6;
	width: 719px;
	height: 79px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u484
{
	z-index: 7;
	width: 63px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 25px;
}

#u490-4
{
	z-index: 9;
	width: 368px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 88px;
}

#u491-4
{
	z-index: 13;
	width: 104px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 511px;
}

#u493-4
{
	z-index: 17;
	width: 104px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 616px;
}

#pu852-4
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 15px;
	position: relative;
}

#u852-4
{
	z-index: 21;
	width: 267px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u853
{
	z-index: 25;
	width: 211px;
	margin-right: -10000px;
	left: 468px;
}

#u477-4
{
	z-index: 2;
	width: 678px;
	min-height: 27px;
	margin-left: 21px;
	margin-top: 974px;
}

#page .verticalspacer
{
	clear: both;
}

