<!-- 
  Waiterbot Isolated version!

  To start waiterbot. 

  > rocon_launch turtlebot_bringup bringup.concert 

  rapp_list = ces_rapps/ces.rapps

  - state machine
  - 3dsensor
  - colour detector

  -->
<launch>

  <include file="$(find waiterbot_state_manager)/launch/state_manager.launch"/>

  <!-- 3d sensor is used for both colour singal and waiterbot controller -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <!-- We only need RGB images and pseudo laser scan -->
    <arg name="depth_registration"              value="false"/>
    <arg name="rgb_processing"                  value="true" />
    <arg name="ir_processing"                   value="false"/>
    <arg name="depth_processing"                value="false"/>
    <arg name="depth_registered_processing"     value="false"/>
    <arg name="disparity_processing"            value="false"/>
    <arg name="disparity_registered_processing" value="false"/>
    <arg name="scan_processing"                 value="true" />
  </include>

<!--  <include file="$(find colour_signal)/launch/signal.launch"/>-->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/rapp.launch">
    <arg name="start_3dsensor" value="false"/>
  </include>
</launch>
