<!-- 
  Waiterbot Isolated version!

  To start waiterbot. 

  > roslaunch waiterbot_bringup minimal_with_appmanager.launch --screen

  rapp_list = ces_rapps/ces.rapps

  - state machine
  - 3dsensor
  - colour detector

  -->
<launch>

  <include file="$(find waiterbot_state_manager)/launch/state_manager.launch"/>

  <!-- 3d sensor is used for both colour singal and waiterbot controller -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <!-- We only need RGB images and pseudo laser scan -->
    <arg name="depth_registration"              value="false"/>
    <arg name="rgb_processing"                  value="true" />
    <arg name="ir_processing"                   value="false"/>
    <arg name="depth_processing"                value="false"/>
    <arg name="depth_registered_processing"     value="false"/>
    <arg name="disparity_processing"            value="false"/>
    <arg name="disparity_registered_processing" value="false"/>
    <arg name="scan_processing"                 value="true" />
  </include>

  <include file="$(find colour_signal)/launch/standalone.launch">
   <arg name="colour_signal_image_topic" value="/whoola/camera/rgb/image_rect_color"/>
   <arg name="colour_signal_selected_hue" value="green"/>
   <arg name="colour_signal_difference_threshold" value="30"/>
   <arg name="colour_signal_frames_in_image_window" value="3"/>
   <arg name="colour_signal_auto_enable" value="false"/>
  </include>

  <include file="$(find waiterbot_ctrl_nowireless)/launch/rapp.launch">
    <arg name="start_3dsensor" value="false"/>
  </include>
</launch>
