name: pickup_delivery
description: pickup delivery in office
author: dwlee
priority: 123
interactions: concert_common_services/pickup_delivery
parameters: concert_common_services/pickup_delivery
launcher_type: roslaunch
launcher: concert_common_services/pickup_delivery
