<launch>
  <!-- Map server -->
  <arg name="map_name" default="$(find cafe_concert)/maps/dorothy_cafe_new_polished.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_name)">
  </node>

  <include file="$(find semantic_region_handler)/launch/database_handler.launch">
    <arg name="host" value="192.168.10.136"/>
  </include>

</launch>
