<launch>
  <arg name="services" default="office_concert/office.services"/>
  <arg name="auto_enable_services" default="[admin, initialisation, restock]"/>
  <arg name="rosbridge_address" default="$(optenv ROSBRIDGE_ADDRESS localhost)"/>

  <group ns="software">
    <node ns="world_canvas" pkg="world_canvas_server" type="annotations_server.py" name="world_canvas_server" output="screen"> 
    </node>
  </group>
  <include file="$(find concert_master)/launch/concert_master.launch">
      <arg name="concert_name" value="$(optenv HUB_WHITELIST Office Concert)"/>
      <arg name="services" value="$(arg services)"/>
      <arg name="auto_enable_services" value="$(arg auto_enable_services)"/>
      <arg name="conductor_auto_invite" value="true"/>
      <arg name="rosbridge_address" value="$(arg rosbridge_address)"/>
      <arg name="gateway_unavailable_timeout" value="30"/>
  </include>
  <group ns="concert">
    <node pkg="rocon_tf_reconstructor" name="rocon_tf_reconstructor" type="rocon_tf_reconstructor"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
      <arg name="address" value="$(arg rosbridge_address)"/>
    </include>
  </group>
</launch>
