<launch>
  
  <arg name="list_order" default="list_order"/>
  <arg name="remote_order_list" default="remote_order_list"/>
  
  <arg name="hue_ip"                        default="192.168.10.143"/> <!-- IP of the Hue Bridge -->
  
  <!-- mandatory parameters -->
  <arg name="table_id" default="1"/>
  <arg name="arduino_ip"                        default="192.168.10.227"/> <!-- IP of the Arduino Yun -->
  <arg name="door_ctrl_io_port"                 default="11"/> <!-- number of the port the remote is connected to -->
  <arg name="timer_ctrl"                        default="false"/> <!-- timer or open/close mode -->
  <!-- optional parameters -->
  <arg name="open_door_trigger_duration"        default="2.0"/> <!-- signal duration required for opening the door -->
  <arg name="close_door_trigger_duration"       default="1.0"/> <!-- signal duration required for closing the door -->
  <arg name="open_door_trigger_duration_timer"  default="1.0"/> <!-- signal duration required for opening the door in timer mode-->

  <!--hue manager-->
  <include file="$(find rocon_hue)/launch/hue_bridge.launch">
    <arg name="hue_ip"                        value="$(arg hue_ip)"/>
  </include>
  
  <node name="hue_manager" pkg="cafe_devices_manager" type="hue_manager.py">
    <remap from="list_order" to="$(arg list_order)"/>
    <remap from="remote_order_list" to="$(arg remote_order_list)"/>
  </node>
  
  
  <!--auto door manager-->
  <include file="$(find rocon_auto_door)/launch/auto_door.launch">
    <arg name="arduino_ip"                        value="$(arg arduino_ip)"/>
    <arg name="door_ctrl_io_port"                 value="$(arg door_ctrl_io_port)"/>
    <arg name="timer_ctrl"                        value="$(arg timer_ctrl)"/>
    <arg name="open_door_trigger_duration"        value="$(arg open_door_trigger_duration)"/>
    <arg name="close_door_trigger_duration"       value="$(arg close_door_trigger_duration)"/>
    <arg name="open_door_trigger_duration_timer"  value="$(arg open_door_trigger_duration_timer)"/>
  </include>

  <node name="auto_door_manager" pkg="cafe_devices_manager" type="auto_door_manager.py">
    <remap from="list_order" to="$(arg list_order)"/>
    <param name="table_id" value="$(arg table_id)" />
  </node>
  
  
</launch>
