<launch>  
  <arg name="time_interval"  default= "1"/> <!-- reset time for validation detected motion [min]-->
  <arg name="rooms"  default= ""/> 

  <node pkg="rocon_ninjablock_rapps" name="empty_room_checker_with_ninjablock" type="room_checker_with_ninjablock.py" output="screen">
     <param name="time_interval" value="$(arg time_interval)"/>
     <rosparam param="rooms" subst_value="True">$(arg rooms)</rosparam>
  </node>
</launch>
