<launch>

  <!-- launch an empty environment -->
  <param name="/use_sim_time" value="true" />
  <include file="$(find concert_service_turtlebot_gazebo)/launch/turtlebot_empty_world.launch" />

  <!-- launch an empty world map server -->
  <node name="map_server" type="map_server" pkg="map_server"
    args="$(find concert_service_turtlebot_gazebo)/maps/empty_world.yaml">
    <remap from="map" to="/map" />
    <remap from="static_map" to="/static_map" />
  </node>

  <!-- launch the gazebo robot spawner -->
  <node pkg="concert_service_turtlebot_gazebo" type="turtlebot_gazebo_manager" 
    name="turtlebot_gazebo_manager"/>

</launch>
