<launch>

  <!-- <param name="/use_sim_time" value="true" /> -->
  <arg name="services" default="turtlebot_concert/turtlebot_concert.services"/>
  <arg name="concert_name" default="Turtlebot Concert"/>
  <arg name="scheduler_type" default="compatibility_tree"/>
  <arg name="webserver_address" default="localhost:8888"/>
  <arg name="disable_zeroconf" default="false"/>
  <arg name="enable_proxy" default="false" />
  <arg name="proxy_uri" if="$(arg enable_proxy)"/>
  <arg name="enable_authentication" default="true"/>
  <arg name="enable_authorization" default="true" />

  <include file="$(find concert_master)/launch/concert_master.launch">
      <arg name="concert_name" value="$(arg concert_name)"/>
      <arg name="services" value="$(arg services)"/>
      <arg name="conductor_auto_invite" value="true" />
      <arg name="conductor_local_clients_only" value="false" />
      <arg name="default_auto_enable_services" value="all"/>
      <arg name="scheduler_type" value="$(arg scheduler_type)"/>
      <arg name="webserver_address" value="$(arg webserver_address)"/>
      <arg name="disable_zeroconf" value="$(arg disable_zeroconf)"/>
      <arg name="enable_rosbridge" value="true"/>
      <arg name="rosbridge_port" value="9091"/>
      <arg name="enable_proxy" value="$(arg enable_proxy)"/>
      <arg name="proxy_uri" value="$(arg proxy_uri)" if="$(arg enable_proxy)"/>
      <arg name="enable_authentication" value="$(arg enable_authentication)" />
      <arg name="enable_authorization" value="$(arg enable_authorization)"/>
      <arg name="authentication_methods" value="userid_password" if="$(arg enable_authentication)"/>
      <arg name="secret_users_file" value="$(find turtlebot_concert)/secret_file_users"/>
      <arg name="users_roles" value="$(find turtlebot_concert)/teleop.users"/>
  </include>
</launch>
