<launch>
  <node pkg="concert_service_link_graph" name="pickup_delivery" type="static_link_graph_service.py">
    <param name="filename" value="$(find concert_common_services)/services/pickup_delivery/pickup_delivery.link_graph"/>
  </node>
  <node pkg="concert_common_services" name="publish_world" type="publish_world.py">
  </node>
</launch>
