<launch>
  <!-- Map server -->
  <arg name="map_name" default="$(find cafe_concert)/maps/dorothy_cafe_new.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_name)">
  </node>

  <include file="$(find semantic_region_handler)/launch/database_handler.launch"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9091" />
  </include>

</launch>
