<launch>
  <!-- state manager -->
  <include file="$(find waiterbot_state_manager)/launch/state_manager.launch"/>

  <!-- dummy navigation control -->
  <node pkg="waiterbot_state_manager" name="dummy_nav_ctrl" type="dummy_nav_ctrl.py">
    <param name="nav_time" value="1.0"/>
    <remap from="waiterbot_nav_control/goto" to="nav_ctrl_goto"/>
    <remap from="waiterbot_nav_control/status" to="nav_ctrl_status"/>
  </node>

  <!-- dummy vm feedback -->
  <node pkg="waiterbot_state_manager" name="dummy_vm_feedback" type="dummy_vm_feedback.py">
    <param name="recognition_time" value="1.0"/>
    <remap from="android_ui/drink_ar" to="drink_ar"/>
    <remap from="vm_feedback_proc/enable" to="colour_signal_node/enable"/>
    <remap from="vm_feedback_proc/result" to="colour_signal_node/result"/>
  </node>
  
  <!-- dummy green button -->
  <!--
  <node pkg="waiterbot_state_manager" name="dummy_green_button" type="dummy_green_button.py" output="screen">
    <remap from="waiterbot_nav_control/status" to="nav_ctrl_status"/>
  </node>
  -->


  <!-- dummy red button -->
  <!--
  <node pkg="waiterbot_state_manager" name="dummy_red_button" type="dummy_red_button.py" output="screen">
  </node>
  -->
  
  <!-- Initialisation Pose Manager -->
  <node pkg="waiterbot_ctrl_nowireless" type="init_pose_manager.py" name="init_pose_manager" >
    <param name="spin_freq"                     value="10"/>
    <param name="simulation"                    value="true"/>
<!--     <param name="pose_tracker"                  value="/whoola/ar_track_alvar"/> -->
<!--     <remap from="pose_tracker/poses"            to="ar_pair_tracking/initial_pose"/> -->
<!--     <remap from="fake_localization/initialpose" to="initialpose"/> -->
    <remap from="init_pose_manager/initialise"  to="initialise_pose"/>
    <remap from="init_pose_manager/initialised" to="pose_initialised"/>
  </node>
</launch>
