<launch>
  <env name="ROS_HOSTNAME" value="concert.yujin.com"/>
  <group ns="concert">
    <include file="$(find turtle_cafe_concert)/launch/includes/_master.launch"/>
    <include file="$(find turtle_cafe_concert)/launch/includes/_orchestra.launch"/>
  </group>
  <include file="$(find turtle_cafe_concert)/launch/includes/_rosbridge.launch"/>
</launch>
