<launch>
 <include file="$(find waiterbot_bringup)/launch/minimal_with_appmanager.launch">
    <arg name="hub_whitelist" value="$(optenv HUB_WHITELIST Cafe Concert)"/>
    <arg name="robot_type" value="waiterbot|turtlebot|kobuki"/>
    <arg name="rapp_package_whitelist" value="[rocon_apps, cafe_rapps]"/>
  </include>
</launch>
