<launch>
 <include file="$(find turtlebot_bringup)/launch/concert_client.launch">

    <arg name="rapp_package_whitelist" value="[office_rapps]"/>
    <arg name="interactions_list"      value="$(optenv INTERACTIONS_LIST [])"/>
    <arg name="concert_whitelist"      value="$(optenv HUB_WHITELIST Office_Concert)"/>
  </include>
</launch>
