body{
    background-color: #3f3f3f;
    overflow: hidden;
}

/*config-layer css*/
.config-layer{
    position: absolute;
    background-color: #f0f0f0;
    width:20%;
    height:100%;
    opacity: .8;
    z-index: 1000;
}

.rosbridge-ip-info{
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 15px;
    color:white;
    opacity: .5;
    z-index: 1000;
}

.rosbridge-connection-info{
    position: absolute;
    right: 1%;
    top: 3%;
    font-size: 15px;
    color:white;
    opacity: .5;
    z-index: 1000;
}
