name: welcome
description: welcome for visitor
author: dwlee
priority: 100
interactions: concert_common_services/welcome
parameters: concert_common_services/welcome
launcher_type: roslaunch
launcher: concert_common_services/welcome
