<launch>
  <!-- 
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load cmd_vel_mux/CmdVelMuxNodelet kobuki">
    <param name="subscribers_cfg_file" value="$(find demo_apps)/scoot/mux.yaml"/>
    <remap from="cmd_vel_mux/mux_cmd_vel" to="mobile_base/commands/velocity"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="vel_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet kobuki">
    <rosparam file="$(find demo_apps)/scoot/smoother.yaml" command="load"/>
    <remap from="vel_smoother/odometry" to="odom"/>
    <remap from="vel_smoother/smooth_cmd_vel" to="cmd_vel_mux/smoothed_scoot"/>
  </node>
   -->
  <!-- <include file="$(find rocon_navi_relay)/launch/navi_relay.launch"/> --> 
  <node pkg="rocon_navi_relay" name="navi_relay" type="navi_relay.py">
    <param name="initial_x" value="0.0"/>"
    <param name="initial_y" value="0.0"/>"
    <param name="initial_a" value="0.0"/>"
  </node>
</launch>
