name: Teleop
description: "Teleop robot with android"
author: YujinRobot
priority: 2
launcher_type: roslaunch
launcher: opp_demo/teleop
interactions: opp_demo/teleop
