<launch>
  <param name="/cmd_vel_mux/yaml_cfg_file" value="$(find waiterbot)/param/vel_multiplexer.yaml"/>
  <!-- Configuration set in environment -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="robot_name" value="waiterbot"/>
    <arg name="robot_type" value="turtlebot"/>
    <arg name="concert_name" value="cafe_concert"/>
    <arg name="rapp_lists" value="$(find cafe_rapps)/rapps/cafe.rapps"/>
  </include>
</launch>
