<launch>
  <arg name="services" default="cafe_concert/cafe.services"/>
  <arg name="rosbridge_address" default="$(optenv ROS_HOSTNAME localhost)"/>
  <include file="$(find concert_master)/launch/concert_master.launch">
      <arg name="concert_name" value="$(optenv HUB_WHITELIST Cafe Concert)"/>
      <arg name="services" value="$(arg services)"/>
      <arg name="auto_enable_services" value="true"/>
      <arg name="conductor_auto_invite" value="true"/>
      <arg name="rosbridge_address" value="$(arg rosbridge_address)"/>
  </include>
  <group ns="concert">
    <node pkg="rocon_tf_reconstructor" name="rocon_tf_reconstructor" type="rocon_tf_reconstructor"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
      <arg name="address" value="$(arg rosbridge_address)"/>
    </include>
  </group>
</launch>
