<launch>
<!--
  <include file="$(find kobuki_softapps)/launch/nav.launch"/>
  <node pkg="robot_pose_publisher" name="robot_pose_publisher" type="robot_pose_publisher">
    <rosparam>
      is_stamped: true
      base_frame: base_footprint
    </rosparam>
  </node>
  -->
  <node pkg="cafe_rapps" name="waiter_soft" type="waiter_soft_no_backend.py" output="screen"/>
</launch>
