.sd-status-bar{
	margin:10px;
	font-size:27px;
	color:white;
}
.sd-logo{
	height:47px;
	width:150px;
	float:right;
}

.btn-large{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 100px 5px;
	font-size: 38px;
}