<!--
  The concert master/conductor components only
  
 -->
<launch>
  <env name="ROS_MASTER_URI" value="http://localhost:11312"/>
  <include file="$(find concert_master)/resources/launch/concert_master.launch"/>
  <!-- Nooo! Configuration conflation! I've defined this name here and in implementation.yaml -->
  <rosparam ns="concert/master" param="name">Turtle Concert</rosparam>
</launch>
