<launch>
    <arg name="concert_client_name" default="dude"/>
    <arg name="concert_name"          default="$(env CONCERT_NAME)"/> 

    <include file="$(find rocon_app_manager)/launch/concert_client.launch">
        <arg name="robot_name" value="$(arg concert_client_name)"/>
        <arg name="concert_whitelist" value="$(arg concert_name)"/>
        <arg name="robot_type" value="pc"/>
        <arg name="rapp_package_whitelist" value="[rocon_apps, concert_common_rapps, robosem_bridge, rocon_hue, rocon_ninja_block]"/>
        <arg name="concert_watch_period" value="1"/>
    </include>
</launch>
