<launch>
 <include file="$(find waiterbot_bringup)/launch/concert_client.launch">
    <arg name="rapp_package_whitelist" value="[turtlebot_rapps, concert_common_rapps, rocon_apps]"/>
    <arg name="interactions_list"      value="$(optenv INTERACTIONS_LIST [])"/>
    <arg name="concert_whitelist"      value="$(optenv HUB_WHITELIST Demo Concert)"/>
    <arg name="capabilities"            value="false"/>
  </include>
</launch>
