# Arduino
ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE="666", GROUP="dialout", SYMLINK+="arduino"
ATTRS{idVendor}=="2341", ATTRS{idProduct}=="8041", MODE="666", GROUP="dialout", SYMLINK+="arduino_yun"
