/*layer background css*/
.delivery-end-layer{
  background: url(./img/8_service_end.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;  
}

.arrival-layer{
  background: url(./img/7_waiterbot_arrival.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}


.ordered-layer{
  background: url(./img/5_order_completion.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}


.on-delivery-layer{
  background: url(./img/6_order_status-01.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}


.menu-layer{
  background: url(./img/3_order.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}
.intro-layer{
  background: url(./img/2_intro.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}

.title-layer{
  background: url(./img/1_main.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}

.modal-order-list{
  background: url(./img/4_modalbox.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*title-layer css*/


/*intro-layer css*/

.intro-layer-img-button{
	position: absolute;
	left: 47%;
	top: 73%;
	z-index: 100;
	width: 9%;
}


/*menu-layer css*/
.menu-layer-drink-img-group{
	text-align: center;
}

.menu-layer-drink-img{
  width: 13%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 16%;
  z-index: 100;
}

.menu-layer-button-img-group{
	text-align: center;
}

.menu-layer-button-img{
	width: 18%;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 1%;
	z-index: 100;
}


/*on-delivery-layer css*/
.video-rocon-adv-group{
	text-align: center;
}

.video-rocon-adv{
  width: 53%;
  margin-top: 15%;
}
.image-delivery-status-group{
	text-align: center;	
}
.on-delivery-layer-status-img{
	width: 28%;
}


/*config-layer ccss*/
.config-layer{
    position: absolute;
    background-color: #ffffff;
    width:20%;
    height:100%;
    opacity: .8;
    z-index: 1000;
}

.rosbridge-ip-info{
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 15px;
    color:white;
    opacity: .5;
    z-index: 1000;
}

.rosbridge-connection-info{
    position: absolute;
    right: 1%;
    top: 3%;
    font-size: 15px;
    color:white;
    opacity: .5;
    z-index: 1000;
}

.oa-ui-title{
  position: absolute;
}

/*modal css*/
.modal{
	width: 700px;
	margin-left: -350px;
  border-radius: 30px;
}
.modal-body{
	max-height: 600px;	
   border-radius: 30px;
}
.modal-drink-img-group{
	text-align: center;
}
.modal-drink-img{
	width: 18%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 18%;
}

.modal-button-img-group{
	text-align: center;
}
.modal-button-img{
	width: 18%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
}

