@-ms-viewport
{
	width: 720px;
}

@-webkit-viewport
{
	width: 720px;
}

@-o-viewport
{
	width: 720px;
}

@-moz-viewport
{
	width: 720px;
}

@viewport
{
	width: 720px;
}

html
{
	background: #7F7F7F url("../images/wood_wallpaper_by_stenosis.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 1126.826937500002px;
	padding-bottom: 8.173062499997968px;
}

#u482
{
	z-index: 6;
	width: 719px;
	height: 79px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u484
{
	z-index: 7;
	width: 63px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 25px;
}

#u490-4
{
	z-index: 9;
	width: 368px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 88px;
}

#u491-4
{
	z-index: 13;
	width: 104px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 511px;
}

#u493-4
{
	z-index: 17;
	width: 104px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 616px;
}

#pu852-4
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 15px;
	position: relative;
}

#u852-4
{
	z-index: 21;
	width: 267px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u853
{
	z-index: 25;
	width: 211px;
	margin-right: -10000px;
	left: 468px;
}

#tab-panelu749
{
	z-index: 27;
	width: 720px;
	position: relative;
	margin-top: 5px;
}

#u784
{
	z-index: 28;
	width: 100%;
	position: relative;
}

#u793
{
	z-index: 29;
	width: 236px;
	min-height: 22px;
	border-width: 2px;
	border-style: solid;
	border-color: #6F4319;
	background-color: #603813;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
}

#u793:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #6F4319;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 236px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u793.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 240px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
}

#u796
{
	z-index: 31;
	height: 22px;
	width: 72px;
	vertical-align: top;
	background: url("../images/u796.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 82px;
}

#u793.TabbedPanelsTabSelected #u796
{
	background: url("../images/u796-a.png") no-repeat 0px 0px;
}

#u789
{
	z-index: 33;
	width: 237px;
	min-height: 21px;
	border-width: 2px;
	border-style: solid;
	border-color: #6F4319;
	background-color: #603813;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u789:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #6F4319;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 237px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u789.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 241px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u791
{
	z-index: 35;
	height: 21px;
	width: 165px;
	vertical-align: top;
	background: url("../images/u791.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
	left: 35px;
}

#u789.TabbedPanelsTabSelected #u791
{
	background: url("../images/u791-a.png") no-repeat 0px 0px;
}

#u785
{
	z-index: 37;
	width: 237px;
	min-height: 22px;
	border-width: 2px;
	border-style: solid;
	border-color: #6F4319;
	background-color: #603813;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	left: 479px;
}

#u785:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #6F4319;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 237px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u785.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 241px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
}

#u787
{
	z-index: 39;
	height: 22px;
	width: 172px;
	vertical-align: top;
	background: url("../images/u787.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
	left: 33px;
}

#u785.TabbedPanelsTabSelected #u787
{
	background: url("../images/u787-a.png") no-repeat 0px 0px;
}

#u750
{
	z-index: 41;
	width: 100%;
	position: relative;
}

#u755
{
	z-index: 42;
	position: relative;
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	width: 100%;
	padding: 38px 24px 21px 22px;
}

#u840-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	position: relative;
}

#u836-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 26px;
	position: relative;
}

#pu837-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-left: 13px;
	margin-top: 33px;
	position: relative;
}

#u837-4
{
	z-index: 101;
	display: block;
	vertical-align: top;
	position: relative;
	width: 504px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u1564-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 566px;
}

#ppu1398-4
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 16px;
	position: relative;
}

#pu1398-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 566px;
}

#u1398-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1073-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	margin-top: 39px;
	position: relative;
}

#u1734-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	margin-top: 40px;
	position: relative;
}

#u1736-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	margin-top: 39px;
	position: relative;
}

#u1738-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	margin-top: 39px;
	position: relative;
}

#u1740-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	margin-top: 39px;
	position: relative;
}

#u843
{
	z-index: 55;
	width: 340px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#u843.MuseLinkActive
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	margin: 0px -10000px 0px 0px;
}

#u1739-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	width: 507px;
	margin-right: -10000px;
	margin-top: 337px;
	left: 1px;
}

#u838-4
{
	z-index: 105;
	display: block;
	vertical-align: top;
	position: relative;
	width: 505px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1px;
}

#u839-4
{
	z-index: 109;
	display: block;
	vertical-align: top;
	position: relative;
	width: 506px;
	margin-right: -10000px;
	margin-top: 84px;
	left: 1px;
}

#u1733-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
	width: 507px;
	margin-right: -10000px;
	margin-top: 147px;
	left: 1px;
}

#u1735-4
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
	width: 503px;
	margin-right: -10000px;
	margin-top: 210px;
	left: 2px;
}

#u1737-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	position: relative;
	width: 506px;
	margin-right: -10000px;
	margin-top: 272px;
	left: 2px;
}

#pu1741-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-left: 13px;
	margin-top: 17px;
	position: relative;
}

#u1741-4
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	width: 508px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u1742-4
{
	z-index: 89;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 566px;
}

#pu1743-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-left: 13px;
	margin-top: 34px;
	position: relative;
}

#u1743-4
{
	z-index: 93;
	display: block;
	vertical-align: top;
	position: relative;
	width: 512px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u1744-4
{
	z-index: 97;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 566px;
}

#pu1817
{
	width: 0.01px;
	margin-top: 33px;
	position: relative;
}

#u1817
{
	z-index: 125;
	width: 674px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 116px;
	position: relative;
	margin-right: -10000px;
}

#u1818-4
{
	z-index: 126;
	display: block;
	vertical-align: top;
	position: relative;
	width: 219px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 14px;
}

#u2131
{
	z-index: 130;
	width: 138px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 530px;
}

#u2107
{
	z-index: 131;
	width: 138px;
	position: relative;
	margin-right: -10000px;
}

#u2109-8
{
	z-index: 133;
	position: relative;
	width: 116px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 8px;
}

#u751
{
	z-index: 141;
	position: relative;
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	width: 100%;
	padding: 28px 24px 20.437499999999545px 20px;
}

#pu482,#pu1842
{
	width: 0.01px;
	position: relative;
}

#u1842
{
	z-index: 142;
	width: 444px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 115px;
}

#u753
{
	z-index: 144;
	width: 130px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
}

.ie #u753
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1832-4
{
	z-index: 145;
	display: block;
	vertical-align: top;
	position: relative;
	width: 496px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 16px;
}

#u1833-4
{
	z-index: 149;
	display: block;
	vertical-align: top;
	position: relative;
	width: 496px;
	margin-right: -10000px;
	margin-top: 185px;
	left: 17px;
}

#u1834-4
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	width: 497px;
	margin-right: -10000px;
	margin-top: 248px;
	left: 17px;
}

#u1835-4
{
	z-index: 157;
	display: block;
	vertical-align: top;
	position: relative;
	width: 500px;
	margin-right: -10000px;
	margin-top: 311px;
	left: 16px;
}

#u1836-4
{
	z-index: 161;
	display: block;
	vertical-align: top;
	position: relative;
	width: 501px;
	margin-right: -10000px;
	margin-top: 375px;
	left: 17px;
}

#u1837-4
{
	z-index: 165;
	display: block;
	vertical-align: top;
	position: relative;
	width: 498px;
	margin-right: -10000px;
	margin-top: 437px;
	left: 18px;
}

#u1824-4
{
	z-index: 174;
	display: block;
	vertical-align: top;
	position: relative;
	width: 497px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 17px;
}

#u1825-4
{
	z-index: 178;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 249px;
	left: 581px;
}

#u1826-4
{
	z-index: 182;
	display: block;
	vertical-align: top;
	position: relative;
	width: 620px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u1827-4
{
	z-index: 186;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 186px;
	left: 581px;
}

#u1828-4
{
	z-index: 190;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 581px;
}

#u1829-4
{
	z-index: 194;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 312px;
	left: 581px;
}

#u1830-4
{
	z-index: 198;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 376px;
	left: 581px;
}

#u1831-4
{
	z-index: 202;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 439px;
	left: 581px;
}

#u1847-4
{
	z-index: 206;
	display: block;
	vertical-align: top;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 581px;
}

#pu1838
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 166px;
	position: relative;
}

#u1838
{
	z-index: 169;
	width: 674px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 117px;
	position: relative;
	margin-right: -10000px;
}

#u1839-4
{
	z-index: 170;
	display: block;
	vertical-align: top;
	position: relative;
	width: 219px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#u2114
{
	z-index: 210;
	width: 138px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 530px;
}

#u2115
{
	z-index: 211;
	width: 138px;
	position: relative;
	margin-right: -10000px;
}

#u2117-8
{
	z-index: 213;
	position: relative;
	width: 116px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 8px;
}

#u759
{
	z-index: 221;
	position: relative;
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	width: 100%;
	padding: 38px 24px 20px 22px;
}

#u1858-4
{
	z-index: 233;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u1857-4
{
	z-index: 229;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 24px;
	position: relative;
}

#u1947-4
{
	z-index: 237;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 25px;
	position: relative;
}

#pu2051
{
	width: 0.01px;
	margin-left: 13px;
	position: relative;
}

#u2051
{
	z-index: 222;
	width: 470px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u2036-4
{
	z-index: 241;
	display: block;
	vertical-align: top;
	position: relative;
	width: 640px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 1px;
}

#u2037-4
{
	z-index: 245;
	display: block;
	vertical-align: top;
	position: relative;
	width: 635px;
	margin-right: -10000px;
	margin-top: 74px;
	left: 3px;
}

#u2038-4
{
	z-index: 249;
	display: block;
	vertical-align: top;
	position: relative;
	width: 637px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 1px;
}

#u2039-4
{
	z-index: 253;
	display: block;
	vertical-align: top;
	position: relative;
	width: 641px;
	margin-right: -10000px;
	margin-top: 270px;
	left: 1px;
}

#u2044-4
{
	z-index: 257;
	display: block;
	vertical-align: top;
	position: relative;
	width: 637px;
	margin-right: -10000px;
	margin-top: 171px;
	left: 2px;
}

#u2043-4
{
	z-index: 261;
	display: block;
	vertical-align: top;
	position: relative;
	width: 638px;
	margin-right: -10000px;
	margin-top: 221px;
	left: 2px;
}

#u2042-4
{
	z-index: 265;
	display: block;
	vertical-align: top;
	position: relative;
	width: 640px;
	margin-right: -10000px;
	margin-top: 343px;
	left: 1px;
}

#u2041-4
{
	z-index: 269;
	display: block;
	vertical-align: top;
	position: relative;
	width: 638px;
	margin-right: -10000px;
	margin-top: 389px;
	left: 1px;
}

#u2040-4
{
	z-index: 273;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 18px;
	position: relative;
}

#pu1855
{
	width: 0.01px;
	margin-top: 64px;
	position: relative;
}

#u1855
{
	z-index: 224;
	width: 674px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 116px;
	position: relative;
	margin-right: -10000px;
}

#u1856-4
{
	z-index: 225;
	display: block;
	vertical-align: top;
	position: relative;
	width: 219px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 14px;
}

#u2119
{
	z-index: 277;
	width: 138px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 530px;
}

#u2120
{
	z-index: 278;
	width: 138px;
	position: relative;
	margin-right: -10000px;
}

#u2122-8
{
	z-index: 280;
	position: relative;
	width: 116px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 8px;
}

#u2109-8_img,#u2117-8_img,#u2122-8_img
{
	display: block;
	vertical-align: top;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u477-4
{
	z-index: 2;
	width: 678px;
	min-height: 27px;
	margin-left: 21px;
	margin-top: 22px;
}

#page .verticalspacer
{
	clear: both;
}

